@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0);
* {
  margin: 0;
  padding: 0;
}
:root {
  --white: #fff; /* mark */
  --dark-1: #2b2d42; /* mark */
  --dark-2: #0f4c81; /* mark */
  --dark-3: #636de0; /* mark */

  --color1: #fffacd;
  --color2: #ffc0cb;
  --color3: #ffa500;
  --color4: #ffff00;
  --color5: #32cd32;
  --color6: #e6e6fa;
  --color7: #335aa3; /* mark */
  --color8: #87ceeb;
  --color9: #a020f0;
  --color10: #ff00ff;
  --color11: #fffdd0;
  --color12: #ffe5b4;
  --color13: #90ee90;
  --color14: #d2b48c;
  --color15: #c0c0c0;
  --color16: #fa8072;
  --color17: #808080;
  --color18: #008080;
  --color19: #f5f5dc;
}
html {
  overflow-x: hidden;
}
body {
  overflow-y: hidden;
  background-color: #c3b091;
}
/*nav bar*/

nav {
  display: flex;
  background-color: #8e806a;
  justify-content: space-around;
  color: #ffe6bc;
  height: 60px;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
}
.logo a {
  letter-spacing: 1.5px;
  font-size: 22pt;
  text-decoration: none;
  font-family: bungee, sans-serif;
  color: #ffe6bc;
}
nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
}
nav ul li a {
  color: #ffe6bc;
  text-decoration: none;
  font-size: 14pt;
}
nav ul li a:hover {
  color: rgb(203, 203, 203);
}
.margin-top {
  margin-top: 90px;
}
/* darkmode */

.dark-mode {
  background-color: var(--dark-2);
  color: var(--white);
  border: none;
  border-radius: 100%;
  width: 30px;
  height: 30px;
}
.dark-mode .dark-mode {
  background-color: #8e806a; /* Button */
}
.dark-mode .logo a {
  color: var(--dark-3);
}
.dark-mode nav {
  background-color: var(--dark-1);
}
.dark-mode nav ul li a {
  color: var(--dark-3);
}
.dark-mode nav ul li a:hover {
  color: var(--color7);
}
/* hamburger menu */

.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}
.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -5px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}
.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: rgb(206, 206, 206);
  border-radius: 3px;
  transition: all 0.4s;
}

/* Hamburger Menu Animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}
.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}
.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: white;
  transform: rotate(45deg) translate(-1px, -1px);
}
.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}
.menu-toggle input:checked ~ span:nth-child(4) {
  background-color: white;
  transform: rotate(-45deg) translate(-1px, 0);
}
